.color_principal{
    background: #6190E8;  
    background: -webkit-linear-gradient(to right, #A7BFE8, #6190E8);
    background: linear-gradient(to right, #A7BFE8, #6190E8); 
}

.color_izquierdo{
    background: #00B4DB;  
    background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  
    background: linear-gradient(to right, #0083B0, #00B4DB); 
}

.color_derecho{
    background: #78bed5;  
    background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);  
    background: linear-gradient(to right, #4991f0, #56CCF2); 
}

.color_izquierdo img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    display: block;
    margin: 10px auto;
}

.error {
    background-color: rgb(189, 60, 60);
    color: white;
    padding: 10px;
    width: 95%;
    border-radius: 6px;
    margin: 1px auto;
}